
#First of all, make sure those pesky SVN folders don't end up on git
.svn
.idea

*.iml

beta.txt

# If you need more folders at the root level, don't hesitate to add them
# If you need a new file at the root level, just use "git add -f <filename>


#Komodo Project file (Because yeah, komodo is a good editor, but it needs a project file, d'uh)
*.komodoproject
